/* 

	Arquivo CSS geral com estilos dos elementos de todas páginas 

*/

* {
  box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
	font-size: 62.5%; /* equivalente a 10px */
}

body {
	background-color: white;
}

h1, h5 {
	font-size: 1.9rem;
}

form {
	background: #eee;
	padding: 10px;
}

form div {
	background: #fff;
	border-bottom: 1px solid #33f;
	margin: 1rem;
	padding: 2rem;
}

label {
	margin-bottom: 1rem;
	font-size: 1.4rem; 
	font-family: sans-serif;
	font-weight: bold;
	color: #66F;
}

input {
	padding: 1rem;
}

[type="text"], [type="email"], textarea, label {
	display: block;
	width: 100%;
}

header h2 {
  font-weight: 100;
}

nav {
  float: left;
  width: 30%;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: antiquewhite;
}

section::after {
  content: "";
  display: table;
  clear: both;
}

/* Mobile First */

/* Tablet */
@media (min-width: 769px) {

	body {
	  background-color: rgb(228, 166, 122);
	  color: firebrick;
	}
  
  }
  
  @media (max-width: 768px) {
  
	nav {
	  width: 30vw;
	}
  
	article {
	  width: 70vw;
	}
	
  }
  
  /* Smartphone */
  @media (max-width: 425px) {
	nav,
	article, 
	section,
	header,
	footer,
	body {
	  width: 104%;
	  min-width: 320px
	}
  
	p, h3, li, a {
	  color: green;
	}  
  
  }

